In [23]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
df = pd.read_csv('../../data/임대료_자치구.csv')
df

     기준_년분기_코드 자치구_코드_명   전체임대료
0    2019년 1분기   서울시 전체   99721
1    2019년 1분기      종로구  152261
2    2019년 1분기       중구  211449
3    2019년 1분기      용산구   93586
4    2019년 1분기      성동구   89189
..         ...      ...     ...
670  2025년 2분기      관악구  121002
671  2025년 2분기      서초구  143895
672  2025년 2분기      강남구  180958
673  2025년 2분기      송파구  134775
674  2025년 2분기      강동구  152759

[675 rows x 3 columns]

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 675 entries, 0 to 674
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   기준_년분기_코드  675 non-null    object
 1   자치구_코드_명   675 non-null    object
 2   전체임대료      675 non-null    int64
dtypes: int64(1), object(2)
memory usage: 15.9+ KB

In [26]:
df.describe()

               전체임대료
count     675.000000
mean   119573.595556
std     38770.488623
min     46416.000000
25%     95845.000000
50%    110900.000000
75%    132865.500000
max    292292.000000

In [27]:
df = df.drop(df[df['자치구_코드_명']=='서울시 전체'].index)

In [28]:
df['기준_년분기_코드'] = df['기준_년분기_코드'].str.replace('년 ', '')
df['기준_년분기_코드'] = df['기준_년분기_코드'].str.replace('분기', '')

In [32]:
df.sort_values('기준_년분기_코드').to_csv('rent_data.csv', index=False)